// --- GLOBALS ---
.container-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}