// --- MIXINS ---

// Grid
@mixin grid($cols: 1, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

// Flex
@mixin flex($dir: row, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}